# Dependencies
node_modules/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/

# Env / private keys
.env
.env.local
.env.production
.env.development

# OS / system files
.DS_Store

# Backups / temp
_root_backup/
